{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item software-card" itemscope itemtype="http://schema.org/SoftwareSourceCode">
    <h3 class="archive__item-title software-card__title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h3>

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.github %}
      <p class="software-card__links">
        <a class="btn btn--github" href="{{ post.github }}" itemprop="codeRepository" target="_blank" rel="noopener">
          <i class="fab fa-github" aria-hidden="true"></i> View source on GitHub
        </a>
      </p>
    {% endif %}
  </article>
</div>
