{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/Person">
    <h3 class="archive__item-title" itemprop="name">{% if include.number %}{{ include.number }}. {% endif %}{{ post.title }}</h3>

    {% if post.thesis_title %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.role }}{% if post.year %} ({{ post.year }}){% endif %}{% if post.institution %}, {{ post.institution }}{% endif %}: <em>{{ post.thesis_title }}</em>
      </p>
    {% endif %}
  </article>
</div>
